.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.w-100 {
  width: 100%;
}
